<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.manage.sys.dao.DictDao">
	<resultMap type="com.car.manage.sys.entity.Dict" id="DictMap">
		<id property="id" column="id"/>
		<result property="code" column="code"/>
		<result property="text" column="text"/>
		<result property="type" column="type"/>
		<result property="value" column="value"/>
		<result property="isLoad" column="is_load"/>
	</resultMap>

	<!-- 根据ID来获取数据字典的数据 -->
	<select id="getDictById" parameterType="com.car.manage.sys.entity.Dict" resultMap="DictMap">
        select * from dict where id = #{id}
	</select>

	<!-- 增加数据字典数据 -->
	<insert id="saveDict" parameterType="com.car.manage.sys.entity.Dict" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO dict(code,text,type,value,is_load)
		VALUES(#{code},#{text},#{type},#{value},#{isLoad})
	</insert>

	<!-- 根据ID来更新数据字典的数据 -->
	<update id="updateDictById" parameterType="com.car.manage.sys.entity.Dict">
		update dict set code = #{code},text=#{text},type=#{type},value=#{value},is_load=#{isLoad} where id=#{id}
	</update>

	<!-- 根据ID来删除字典数据 -->
	<delete id="deleteById" parameterType="com.car.manage.sys.entity.Dict">
		delete from dict where id = #{id}
	</delete>

	<!--分页查询 code like  concat('abc','%') 相当于 code like  'abc% '-->
	<select id="findByPage" parameterType="com.car.manage.sys.entity.QueryDict" resultMap="DictMap">
		SELECT * FROM dict
		WHERE 1=1
		<if test="code!=null  and code!=''">
			AND code like concat(#{code},'%')
		</if>
		<if test="text!=null and text!=''">
			AND text like concat(#{text},'%')
		</if>
		<if test="type!=null  and type!=''">
			AND type like concat(#{type},'%')
		</if>
		<if test="value!=null  and value!=''">
			AND value like concat(#{value},'%')
		</if>
		<if test="isLoad!=null  and isLoad!=''">
			AND is_load=#{isLoad}
		</if>
		<if test="sort!= null  and sort!=''">
			order by ${sort} ${order}
		</if>
		limit #{offset},#{limit}
	</select>

	<!--统计-->
	<select id="count" parameterType="com.car.manage.sys.entity.QueryDict" resultType="int">
		SELECT count(*) FROM dict
		WHERE 1=1
		<if test="code!=null  and code!=''">
			AND code like concat(#{code},'%')
		</if>
		<if test="text!=null and text!=''">
			AND text like concat(#{text},'%')
		</if>
		<if test="type!=null  and type!=''">
			AND type like concat(#{type},'%')
		</if>
		<if test="value!=null  and value!=''">
			AND value like concat(#{value},'%')
		</if>
		<if test="isLoad!=null  and isLoad!=''">
			AND is_load=#{isLoad}
		</if>
	</select>

</mapper>